<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/76c1e6dd19.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="mt-48">
        <form
          action="/incomes/<%= i.id %>/edit"
          method="POST"
          class="max-w-md mx-auto mt-8 p-6 bg-white shadow-md rounded-lg"
        >
          <div class="mb-4">
            <label
              for="category"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Expense category</label
            >
            <div class="relative">
              <input
                class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-indigo-500"
                type="text"
                placeholder="expense category"
                name="category"
                id="category"
                value="<%= i.category %>"
              />
            </div>
          </div>
          <div class="mb-4">
            <label
              for="amount"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Amount</label
            >
            <div class="relative">
              <input
                class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-indigo-500"
                type="number"
                placeholder="amount"
                name="amount"
                id="amount"
                value="<%= i.amount %>"
              />
            </div>
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Update Expense
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
